@{
    ViewData["Title"] = "Cadastro Pessoa Juridica";
}
    <link rel="stylesheet" href="~/css/cadastroPJ.css">
     <!-- Link do Font Awesome para adicionar ícones -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <body>
    <div class="organization" style="display: flex; align-items: center; justify-content: center;">
        <div class="container">
            <div class="login-section">
                <h2>
                    Crie sua Conta
                    <i class="fas fa-building"></i>
                </h2>
                <p>Insira os dados abaixo para efetuar seu Cadastro</p>
                <form action="">
                    <input type="text" placeholder="Nome Responsavél">
                    <input type="email" placeholder="Email">
                    <input type="text" placeholder="CNPJ">
                    <input type="text" placeholder="Razão Social">
                    <div>
                        <input type="text" id="tel" placeholder="Telefone">
                        <input type="text" id="tel" placeholder="Telefone 2">
                    </div>
                    <input type="password" placeholder="Senha">
                    <input type="password" placeholder="Confirmar Senha">
                </form><br>
                <a class="Esqueceu" href="#">Esqueceu a sua Senha?</a>
                <button type="submit">Entrar</button>
                <p>Deseja Entrar Como Pessoa Física?</p>
                <a class="clique" href="cadastropf.html">Clique Aqui</a></p>
            </div>

            <div class="welcome-section">
                <h2>Bem Vindo de Volta!</h2>
                <p>Para manter conosco<br>Por favor faça login com suas informações pessoais</p>
                <button><a href="login.html">Entrar</a></button>
            </div>
            </div>
        </div>
    </body>
