@model Site_SmartComfort.ViewModels.CadastroPFViewModel

@{
    ViewData["Title"] = "Cadastro Pessoa Física";
}
<link rel="stylesheet" href="~/css/cadastro.css">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>
    <div class="organization">
        <div class="container">
        <div class="welcome-section">
            <h2>Bem Vindo de Volta!</h2>
            <p>Para manter conosco<br>Por favor faça login com suas informações pessoais</p>
            <button><a href="login.html">Entrar</a></button>
        </div>

            <div class="login-section">
            <h2>Crie sua Conta  
                <i class="fas fa-user"></i>
            </h2>
            <p>Insira os dados abaixo para efetuar seu Cadastro</p>
            <form action="">
            <input type="text" placeholder="Usuário">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Cpf">
            <div>
            <input type="text" id="tel" placeholder="Telefone">
            <input type="text" id="tel" placeholder="Telefone 2">
            </div>
            <input type="password" placeholder="Senha">
            <input type="password" placeholder="Confirmar Senha">
            </form><br>
            <a class="Esqueceu" href="#">Esqueceu a sua Senha?</a>
            <button type="submit">Entrar</button>
            <p>Deseja Entrar Como Pessoa Júridica?</p>
            <a class="clique" href="cadastro.html">Clique Aqui</a></p>
        </div>
    </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
