* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	width: 100%;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: black;
	background-color: #F1F1F1;
}

.organizer {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.login-content {
	display: flex;
	width: 800px;
	background-color: #fff;
	box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}

.login-section {
	width: 60%;
	padding: 40px;
}

.login-section h2 {
	color: #1a73e8;
	font-size: 28px;
	margin-bottom: 10px;
	text-align: center;
}

.login-section p {
	text-align: center;
	font-size: 12px;
	color: #666;
	margin-top: 20px;
}

.login-section .clique {
	text-align: center;
	font-size: 12px;
	color: #4D81DE;
	margin-bottom: 30px;
	margin-left: 170px;
	font-weight: bold;
	text-decoration: none;
}

.login-section input[type="email"],
.login-section input[type="password"] {
	width: 100%;
	background-color: #E9E9E9;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
}

.login-section .Esqueceu {
	color: #0252bb;
	font-size: 14px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.login-section a:hover {
	text-decoration: underline;
}

.login-section button {
	width: 100%;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	background-color: #184DAB;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 25px;
}

.login-section button:hover {
	background-color: #166ad8;
}

.welcome-section {
	width: 40%;
	background-color: #184DAB;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	text-align: center;
}

.welcome-section h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.welcome-section p {
	font-size: 14px;
	margin-bottom: 20px;
}

.welcome-section button {
	background-color: #184DAB;
	color: #fff;
	border: none;
	padding: 10px 40px;
	font-size: 16px;
	border-radius: 40px;
	border: 2px solid #fff;
	cursor: pointer;
}

.welcome-section button:hover {
	background-color: #4D81DE;
}

.welcome-section button a {
	color: #fff;
	text-decoration: none;
}

