* {
    padding: 0;
    margin: 0;
}

body{
    background-color: #F1F1F1;
    
}

/*imagem do carrosel na tela*/
#carrosel { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*botoes do carrose*/
.container_btn_carrosel {
    position: absolute;
    left: 51%;
    bottom: 10%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 1;
}

.btn_carrosel {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 1vw;
    z-index: 1;
}
    .btn_carrosel:hover,
    .btn_carrosel.ativo {
        background-color: #184DAB;
    }




/*tela de login*/
.login-content {
    display: flex;
    width: 800px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.login-section {
    width: 60%;
    padding: 40px;
}

    .login-section h2 {
        color: #1a73e8;
        font-size: 28px;
        margin-bottom: 10px;
        text-align: center;
    }

    .login-section p {
        text-align: center;
        font-size: 12px;
        color: #666;
        margin-top: 20px;
    }

    .login-section .clique {
        text-align: center;
        font-size: 12px;
        color: #4D81DE;
        margin-bottom: 30px;
        margin-left: 170px;
        font-weight: bold;
        text-decoration: none;
    }

    .login-section input[type="email"],
    .login-section input[type="password"] {
        width: 100%;
        background-color: #E9E9E9;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .login-section .Esqueceu {
        color: #0252bb;
        font-size: 14px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .login-section a:hover {
        text-decoration: underline;
    }

    .login-section button {
        width: 100%;
        padding: 10px;
        font-size: 15px;
        color: #fff;
        background-color: #184DAB;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 25px;
    }

        .login-section button:hover {
            background-color: #166ad8;
        }

.welcome-section {
    width: 40%;
    background-color: #184DAB;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

    .welcome-section h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .welcome-section p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .welcome-section button {
        background-color: #184DAB;
        color: #fff;
        border: none;
        padding: 10px 40px;
        font-size: 16px;
        border-radius: 40px;
        border: 2px solid #fff;
        cursor: pointer;
    }

        .welcome-section button:hover {
            background-color: #4D81DE;
        }

        .welcome-section button a {
            color: #fff;
            text-decoration: none;
        }





/*Pagina IndexProdutos:*/
.produtos1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4vw;
    align-items: center;
}
.icone_produto {
    width: 70px;
    margin: 1vw;
    cursor: pointer;
}

.fundo_opcao {
    width: 100px;
    height: 100px;
    background: #184DAB;
    border-radius: 60%;
    cursor: pointer;
    text-align: center;
}

.icone_seta {
    width: 70px;
    margin: 1vw;
    cursor: pointer;
}

.icone_pacote {
    width: 268px;
    height: 173px;
    cursor: pointer;
    margin-top: 4vw;
}

.nome_produto{
    margin-top: 0.5vw;
    font-size: 14px;
}

.produtos2 {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    align-items:center;
}
.titulo_produto {
    margin-top: 6vw;
    font-size: 30px;
    color: #184DAB;
}
.fundo_solo {
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 240px;
    background: #FFFFFF;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.icone_produto_solo {
    margin-top: 1vw;
    width: 110px;
    cursor: pointer;
}
.preco{
    margin-top: 1vw;
    font-size: 30px;
}
.desc {
    margin-top: 1vw;
    font-size: 12px;
    text-align:center;
    width: 95%;
}